<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./inner_css/style.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>자기소개</title>
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <h1 class="logo"><a href="../index.html">My Website</a></h1>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./about.html"  class="current">About</a></li>
          <li><a href="./note.html">Note</a></li>
          <li><a href="./interest.html">Interest</a></li>
        </ul>
      </div>
    </nav>
<div class="container">

      <div class="panel active">
        <h3>자기소개</h3>
        <p>주민등록번호:011225-3000000</p>
        <p>나이:24</p>
        <p>주소:00시 00로 000-00</p>
        <p>전화:000-0000-0000</p>
        <p>이메일:0000@gmail.com</p>
        <p>신장:000</p>
        <p>체중:000</p>
        <p>취미:00</p>
        <p>특기:00</p>
      </div>

      <div class="panel">
        <h3>학력사항</h3>
        <p>00초 2014 졸업</p>
        <p>00중 2017 졸업</p>
        <p>00고 2020 졸업</p>
        <p>00대 2024 재학</p>
      </div>

      <div class="panel">
        <h3>가족사항</h3>
        <p>아버지</p>
        <p>어머니</p>
        <p>여동생</p>
      </div>

      <div class="panel")">
        <h3>it 보유기술</h3>
        <p>HTML</p>
        <p>JavaScript</p>
        <p>CSS</p>
        <p>C</p>
      </div>

      <div class="panel">
        <h3>생활신조</h3>
        <p>바르게 살자</p>
      </div>

    </div>

    <script src="./inner_js/script.js"></script>
  </body>
</html>