* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.navbar {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  z-index: 100;
}

.navbar__brand {
  width: 200px;
  height: 100%;
}

.brand__logo {
  width: 100%;
  height: 100%;
}

.language__drop__down {
  background: transparent;
  border: none;
  color: white;
}

.language__drop__down:focus {
  outline: none;
}

.language__drop__down option {
  background-color: black;
}

.dropdown__container {
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.4);
}

.signin__button {
  background-color: white;
  border: 1px solid white;
  color: black;
  padding: 0.4rem;
  border-radius: 15px;
  transition: transform 0.3s ease;
}
.signin__button:hover {
  background-color: gray;
  border: 1px solid gray;
}

.navbar__nav__items {
  display: flex;
  gap: 10px;
}

/* main class image*/
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__bg__image__container {
  width: 90%;
  height: 60vh;
  border-radius: 25px;
  overflow: hidden;
}

.main__bg__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main__bg__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%, /* 맨 아래 매우 밝게 */
    rgba(0, 0, 0, 0.6) 10%, /* 약간 어둡게*/
    rgba(0, 0, 0, 0.9) 30%, /* 중간 부분 제일 어둡게 */
    rgba(0, 0, 0, 0.6) 50%, /* 상단으로 갈수록 희미하게 */
    rgba(0, 0, 0, 0) 100% /* 맨 위쪽 다시 밝게 */
  );
}

.main__card {
  position: absolute;
  top: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__title {
  font-weight: 600;
  font-size: 4rem;
}

.main__subtitle{
  font-weight: 400;
  font-size: 2rem;
}

.main__description {
  font-weight: 200;
  font-size: 1rem;
}

.email__input {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 7px;
}

.email__label {
  color: black;
  position: absolute;
  top: 28%;
  left: 2%;
  color: white;
  border: white;
}

.email__form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 1rem;
}

.form__container {
  background-color: rgba(255, 255, 255, 0.432);
  width: 50%;
  height: 50px;
  border-radius: 20px;
  position: relative;
}

.email__input:focus + .email__label {
  top: 0.2rem;
  font-size: 10px;
}

.email__input:not(:placeholder-shown).email__input:not(:focus) + .email__label {
  top: 0.2rem;
  font-size: 10px;
}

.email__input:focus-visible {
  outline: none;
}

.primary__button {
  background-color: red;
  border: 1px solid red;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 20px;
  font-size: 15px;
  letter-spacing: 1px;
  transition: transform 0.3s ease;
}
.primary__button:hover {
  background-color: brown;
  border: 1px solid brown;
}

/* main body */
main{
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__container {
  max-width: 100%;
}

.main__ad {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 18px;
  background-color: rgb(43, 43, 43);
  border: 1px solid gray;
  border-radius: 20px;
  color: white;
  transition: transform 0.3s ease;
}

.main__ad:hover {
  transform: scale(1.1);
  z-index: 20;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.main__ad__desription > h1 {
  font-size: 20px;
}

.main__ad__desription > p{
  font-size: 15px;
}

.main__ad__detail{
  padding: 5px 13px;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 25px;
  color: white;
  text-decoration-line: none;
}

.main__heading {
  font-size: 30px;
  text-align: start;
  font-weight: 600;
  max-width: 80%;
  color: white;
  padding-bottom: 5px;
}

.contents__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
}


.contents__img {
  position: relative;
  transition: transform 0.3s ease;
}
.contents__img:hover {
  transform: scale(1.1);
  z-index: 20;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.contents__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.contents__img__number {
  font-size: 100px;
  font-weight: bold;
  margin: 0;
  -webkit-text-stroke: 2px white;
  color: black;
  position: absolute;
  left: -30px;
  top: px; /* Adjusted to match the large font size */
  z-index: 10;
}

.membership__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.membership__contents:nth-child(1) {
  background-color: darkblue;
}

.membership__contents:nth-child(2) {
  background-color: darkviolet;
}

.membership__contents:nth-child(3) {
  background-color: darkred;
}

.membership__contents{
  position: relative;
  transition: transform 0.3s ease;
  padding: 20px;
  border-radius: 20px;
}
.membership__contents::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; 
  height: 100%;
  background: linear-gradient(150deg, transparent 0%, black 100%);
  z-index: 0;
  border-radius: 20px;
}
.membership__contents:hover {
  transform: scale(1.1);
  z-index: 20;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}


.membership__contents__main {
  font-weight: bold; 
}

.membership__contents__main h1 {
  font-weight: bold;
}

.membership__contents__details {
  font-weight: normal;
}


.reason__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.reason__contents{
  position: relative;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(43, 43, 43);
  border: 1px solid gray;
}


.FAQ__list__container {
  max-width: 100%;
  display: flex;
  gap: 10px;
}

.FAQ__list__container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.FAQ__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.FAQ__list > button {
  border-radius: 20px;
}

.FAQ__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 18px;
  background-color: rgb(43, 43, 43);
  border: 1px solid gray;
  color: white;
}

.FAQ__get__started__email {
  text-align: center;
}

.FAQ__get__started__email > h3 {
  font-size: 18px;
  font-weight: 400;
}

/*  */


footer {
  padding: 2rem 18rem;
  color: #757575;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__row__2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.footer__row__2 > a {
  flex-basis: calc(25% - 15px);
  text-align: center;
  color: #757575;
  text-decoration: none;
  font-size: 13px;
}

.footer__row__1 > h4 {
  font-size: 15px;
  font-weight: 500;
}

.footer__row__3 > .dropdown__container {
  width: fit-content;
  border: 1px solid #757575;
  color: #757575;
}

.footer__row__3 > .dropdown__container > .language__drop__down {
  color: #757575;
}

.footer__row__5 > p > a{
  color: #757575;
}