#header{
    display: flex;
    background-color: gray;
}

.empty{
    flex-basis: 10%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-basis: 100%;
}


#mouse-over-left:hover ~ .menubars { display: block; } 
.menubars { display: none; list-style: none;}

#mouse-over-right:hover ~ .menubars { display: block; } 
.menubars { display: none; list-style: none;}



#header2{
    display: flex;
    justify-content: center;
}
.search-bar{
    display: flex;
}
.category-block{
    flex-basis: 30%;
    background-color: rgb(37, 157, 238);
}

.etc{
    display: flex;
    flex-direction: column;
}

.block-1{
    flex-basis: 80;
    display: flex;
}
.block-2{
    flex-basis: 20;
}

.search-block{
    flex-basis: 80%;
}
.user-page{
    flex-basis: 20%;
}